.search-box {
    width: 100%;
    height: 100%;
    color: #6f6f6f;
    background-color: #fff;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    outline: 0;
    border-radius: 3px;
    border: 1px solid #b0c500;
}

.title {
    font-size: 40px;
    color: white !important;
    text-align: center;
    padding-top: 40px;
}

.jumbotron {
    height: 92px;
    width: 100%;
    background-color: #ffb900;
}

.search-box-container {
    width: 860px;
    height: 69px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 5px;
}

.input-logo-fix {
    height: 60px;
    position: absolute;
    border-radius: 5px;
    right: 18%;
    left: -25px;
    top: -75px;
    background-color: rgba(255, 255, 255, 0);
}

.listing {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin: auto;
    left: 0;
    right: 0;
    width: 75%;
}

.panel-default {
    border-color: #ddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-body {
    padding: 15px;
}

.centering{
    left: 0;
    width: 90%;
    right: 0;
    margin: auto;
}


.list-group-item {
    border: 1px solid #ffb900;
}
.height-fix{
    max-height: 120px
}
.star-fix{
    max-height: 60px;
}
.search-box {
   width: 210%;
   height: 70px;
   color: #6f6f6f ;
   background-color: #fff !important;
   font-size: 30px;
   padding-left: 20px;
   padding-right: 20px;
   outline: 0;
   border-radius: 3px;
   border: 1px solid #b0c500 ;
}

.blur   {
    filter: blur(5px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

.aa-input {
    top: -92px;
    left: -60px;
    right: 0;
    width: 120% !important;
    height: 90px;
    color: #6f6f6f;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    outline: 0;
    border-radius: 3px;
    border: 1px solid #b0c500;
    position: absolute;
    vertical-align: top;
    background-color: rgb(255, 255, 255) !important;
    margin: auto;
}

.algolia-autocomplete .aa-dropdown-menu {
    width: 120%;
    top: 0px !important;
    position: absolute !important;
    background-color: #fff;
    border: 1px solid #b0c500;
    border-top: 10px;
    padding: 10px;
    font-size: 20px;
    left: -60px !important;
    right: 0 !important;
    margin: auto;
    border-radius: 1px;
}
.col-title{
    color: #ffb900 !important;
}
