.search-box {
    width: 100%;
    height: 100%;
    color: #6f6f6f;
    background-color: #fff;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    outline: 0;
    border-radius: 3px;
    border: 1px solid #b0c500;
}
.title {
    font-size: 40px;
    color: white !important;
    text-align: center;
    padding-top: 40px;
}

.jumbotron {
    height: 92px;
    width: 100%;
    background-color: #ffb900;
}

.search-box-container {
    width: 860px;
    height: 69px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 5px;
}

.input-logo-fix {
    height: 60px;
    position: absolute;
    border-radius: 5px;
    top: 5px;
    right: 107%;
    background-color: rgba(255, 255, 255, 0);
}

.listing {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin: auto;
    left: 0;
    right: 0;
    width: 75%;
}

.panel-default {
    border-color: #ddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-body {
    padding: 15px;
}

.centering{
    left: 0;
    width: 90%;
    right: 0;
    margin: auto;
}


.list-group-item {
    border: 1px solid #ffb900;
}
.height-fix{
    max-height: 120px
}
.star-fix{
    max-height: 60px;
}
.btn-yellow {
    /*width: 85px;*/
    background-color: white;
    border-radius: 2px;
    border: 2px solid #b0c500;
}
.img-comment-fix{
    height: 80px;
}

       #map {
        width: 100%;
        height: 400px;
      }

.box h3{
    text-align:center;
    position:relative;
    top:80px;
}
.box {
    width:70%;
    height:200px;
    background:#FFF;
    margin:40px auto;
}



/*==================================================
 * Effect 2
 * ===============================================*/
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-3deg);
}
.effect2:after
{
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
.panel-default {
    border: 1px solid rgba(230, 236, 200, 0.41);
    border-radius: 0px;
}

.shadow-effect{
-webkit-box-shadow: 4px 6px 76px 9px rgba(150,201,125,0.86);
-moz-box-shadow: 4px 6px 76px 9px rgba(150,201,125,0.86);
box-shadow: 4px 6px 76px 9px rgba(150,201,125,0.86);
}

.card-contain{
    width: 63%;
}

.aa-input {
    top: -14px;
    left: -8px;
    right: 0px;
    width: 101.0% !important;
    height: 90px;
    color: #6f6f6f;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 30px;
    outline: 0;
    border-radius: 3px;
    border: 1px solid #b0c500;
    position: absolute;
    vertical-align: top;
    background-color: rgb(255, 255, 255) !important;
    margin: auto;
}


.algolia-autocomplete .aa-dropdown-menu {
    width: 101% !important;
    top: 84% !important;
    position: absolute !important;
    background-color: #fff;
    border: 1px solid #b0c500 !important;
    border-top: 10px;
    padding: 10px;
    font-size: 20px;
    left: -8px !important;
    right: 0;
    margin: auto;
    border-radius: 1px;
}


.aa-hint {
    background: none 0% 0% / auto repeat scroll padding-box border-box rgba(255, 255, 255, 0) !important;
}

.yellow{
    color:#ffb900 !important;
}
